aws/*
!aws/*.gpg
!aws/*.asc
gnupg/*
!gnupg/gpg.conf
!gnupg/secring.gpg
!gnupg/pubring.gpg
!gnupg/trustring.gpg
!gnupg/*.asc
ssh/*
!ssh/config
!ssh/known_hosts
!ssh/id_rsa.pub
!ssh/id_ecdsa.pub
!ssh/*.gpg
!ssh/*.asc
org/*
!org/*.gpg

keys.tar.gz
keys.tar
secrets.tar.gz

zsh/functions/private.zsh
zsh/extras/private.zsh
zsh/cache
credentials.sh
vim/.netrwhist
vim/backups
vim/bundle
xmonad/xmonad
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
pentadactyl/info/default

lib/ag
lib/vim


*.beam
" for YCM
*.pyc

*.elc
# !emacs.d/private/zv/*
# emacs.d

*npm-debug.log
