aws/*
!aws/*.gpg
!aws/*.asc
gnupg/*
!gnupg/gpg.conf
!gnupg/secring.gpg
!gnupg/pubring.gpg
!gnupg/trustring.gpg
!gnupg/*.asc
ssh/*
!ssh/id_rsa.pub
!ssh/*.gpg
!ssh/*.asc

keys.tar.gz
keys.tar
secrets.tar.gz

*.elc
credentials.sh
vim/.netrwhist
vim/backups
vim/bundle
xmonad/xmonad
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
pentadactyl/info/default

lib/ag
lib/vim


*.beam
" for YCM
*.pyc

emacs/flycheck*
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/ac-comphist.dat
emacs.d/eproject.lst
emacs.d/.smex-items
emacs.d/\#*
emacs.d/.places
emacs.d/eshell/history
emacs.d/.emacs.desktop
emacs.d/.emacs.desktop.lock
emacs.d/eshell/alias
emacs.d/eshell/lastdir
emacs.d//url/cookies
emacs.d/my-org/
emacs.d/org-files/
emacs.d/semanticdb/
emacs.d/edts/
emacs.d/.recentf
emacs.d/.recentf~
emacs.d/projectile.cache
emacs.d/projectile-bookmarks.eld
emacs.d/tramp
emacs.d/elnode/
emacs.d/var/
emacs.d/crown/
emacs.d/*.stackdump
emacs.d/bookmarks
emacs.d//.my-keybindings.el.swp
emacs.d/.DS_Store
emacs.d/tmp/
emacs.d//history
emacs.d/.python-environments/
