[submodule "zsh/rupa-z"]
	path = zsh/rupa-z
	url = git://github.com/rupa/z.git
  ignore = dirty
[submodule "vim/bundle/gmarik-vundle"]
	path = vim/bundle/gmarik-vundle
	url = git://github.com/gmarik/vundle.git
  ignore = dirty
