
/**********************************************/
/*
/* Solarized Light for Google Chrome's Web Inspector by josue salazar
/*
/* Based on Ethan Schoonover's Solarized:
/* http://ethanschoonover.com/solarized
/*
/**********************************************/

/**********************************************/
/* Layout
/**********************************************/
#elements-content.source-code {
  background: #FDF6E3 !important;
  font-size: 11px !important;
}

#elements-content .highlight { 
  color: #eee8d5;
}

#elements-content .selection {

}

#elements-content .selection.selected {

}

#elements-content .parent {

}
.outline-disclosure ol:focus li.parent.expanded.selected::before {
  content: url(Images/treeDownTriangleBlack.png);
}
/*.outline-disclosure ol:focus li.parent.expanded.selected::before*/
#elements-content .outline-disclosure li.parent::before,
#elements-content .outline-disclosure ol:focus li.parent.expanded.selected::before {
  background: none !important;
  content: '' !important;
}

#elements-content .parent.selected {
  
}

#elements-content .parent.selected {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#elements-content .parent.expanded {
  
}

/**********************************************/
/* HTML
/**********************************************/
#elements-content .webkit-html-comment {
  color: #93A1A1 !important;
}

#elements-content .webkit-html-doctype {

}

#elements-content .webkit-html-tag {
  color: #268BD2 !important;
}

#elements-content .webkit-html-tag-name {
    
}

#elements-content .webkit-html-attribute {

}

#elements-content .webkit-html-attribute-name {
  color: #869598 !important;
}

#elements-content .webkit-html-attribute-value {
  color: #29a198 !important;
}

#elements-content .webkit-html-external-link {

} 

#elements-content .webkit-html-resource-link {

}

#elements-content .webkit-html-text-tag {

}

#elements-content .webkit-html-text-node {
  color: #667b84 !important;
}

#elements-content .webkit-html-css-node {
  color: #c2c3c3 !important;
}

#elements-content .webkit-html-js-node {
  color: #ba8900 !important;
}


/**********************************************/
/* CSS
/**********************************************/

#elements-content .webkit-css-comment {

}

#elements-content .webkit-css-url {

}

#elements-content .webkit-css-color {

}

#elements-content .webkit-css-selector {

} 

#elements-content .webkit-css-property {

}

#elements-content .webkit-css-number {

}

#elements-content .webkit-css-keyword {

}

#elements-content .webkit-css-string {

}

#elements-content .webkit-css-important {

}

.outline-disclosure ol:focus li.selected * {  background: #eee8d5 !important;
  padding: 1px 0px;
}

/**********************************************/
/* JavaScript
/**********************************************/
#elements-content .webkit-javascript-comment {
  color:  #9fa1a1 !important;
}

#elements-content .webkit-javascript-keyword {
  color: #2694d8 !important;
}

#elements-content .webkit-javascript-ident {
  color: #a57800 !important;
}

#elements-content .webkit-javascript-string {
  color: #26918e !important;
}

#elements-content .webkit-javascript-number {

}

#elements-content .webkit-javascript-regexp {

}
