[Unit]
Description=Dunst notification daemon
After=graphical.target

[Service]
ExecStart=/usr/bin/dunst
Environment=DISPLAY=:0
#Restart=always
#RestartSec=15

[Install]
WantedBy=default.target
