# vim: ft=muttrc:
set from      = "zephyr.pellerin@gmail.com"
set mbox      = "+zephyr.pellerin.gmail.com/archive"
set postponed = "+zephyr.pellerin.gmail.com/drafts"
unset record

# smtp config
set smtp_url  = "smtps://zephyr.pellerin@smtp.gmail.com"

# this is replaced and copied somewhere w/ this swapped out
set smtp_pass = $ZEPHYR_PELLERIN_GMAIL_PASSWORD
source ~/.mutt/zephyr.pellerin.gmail.com.private.muttrc
