# vim: ft=muttrc:
set from      = "zv@nxvr.org"
set mbox      = "+zv.nxvr.org/archive"
set postponed = "+zv.nxvr.org/drafts"
unset record

# smtp config
set smtp_url  = "smtps://zv@smtp.nxvr.org"

# this is replaced and copied somewhere w/ this swapped out
set smtp_pass = $ZV_NXVR_ORG_PASSWORD
source ~/.mutt/zv.nxvr.org.private.muttrc
