
module my-gnomeshell 1.0;

require {
	type xdm_var_lib_t;
	type xdm_t;
	class file execute;
}

#============= xdm_t ==============
allow xdm_t xdm_var_lib_t:file execute;
